<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <meta charset="UTF-8"/>
        <title>Profiler</title>
        <!--<link rel="stylesheet" th:href="@{/css/styles.css}"/>-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            <header th:replace="fragments/header :: header">
                <p>header with links etc</p>
            </header>
            <nav>

            </nav>
            <div class="col-md-6">
                <h2>Registered users</h2>
                <ul>
                    <li th:each="account : ${accounts}">
                        <a th:href="@{/admin/users/{id}(id=${account.id})}">
                            <span th:text="${account.username}">Username</span>
                        </a>
                        -- <span th:text="${account.authorities}">Authorities</span>
                        <form method="post" th:action="@{/admin/delete/account/{id} (id=${account.id})}">
                            <button value = "Delete" type="submit" class="btn-danger">Delete</button>
                        </form>

                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <h2>Existing profiles</h2>
                <ul th:each="profile : ${profiles}">
                    <li>
                        <a th:href="@{/profiles/{id} (id=${profile.id})}">
                            <img th:src="@{/images/{id}/content(id=${profile.thumbnailId})}"/>
                        </a>
                        <form method="post" th:action="@{/admin/delete/profile/{id} (id=${profile.id})}">
                            <br/>
                            <button value = "Delete" type="submit" class="btn-danger">Delete</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </body>
</html>