<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <meta charset="UTF-8"/>
        <title>Profiler</title>
        <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    </head>

    <body>
        <header th:replace="fragments/header :: header">
            <p>header with links etc</p>
        </header>
        <nav>

        </nav>
        
        <h1>Profile this image!</h1>           
        <img th:src="@{/images/{id}/content(id=${profilePic})}"/>
        <div th:unless="${ownans}">
            <form th:action="@{/profiles/{id}/answer (id=${id})}" method="POST">
                <ul>
                    <li th:each="question : ${questions}">
                        <span th:id="${question.id}" th:text="${question.content}">Question</span>
                        <select name="answerId">
                            <option th:each="answer, i : ${question.answerOptions}" th:text="${answer.answerText}" th:value="${i.index}">0</option>
                        </select>
                    </li>
                </ul>
                <input type="submit" value="Submit answers"/>
            </form>
        </div>
        <div>
            <a th:if="${previous!=null}" th:href="@{/profiles/{id} (id=${previous})}">PREVIOUS</a>
            <a th:if="${next!=null}" th:href="@{/profiles/{id} (id=${next})}">NEXT</a>
            <a th:if="${random!=null}" th:href="@{/profiles/{id} (id=${random})}">SKIP TO A RANDOM PROFILE</a>
        </div>
 
        <p>Submit answers to see how others have answered.</p>
 
    </body>
</html>
