<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <meta th:content="${_csrf.headerName}" name="csrf_header" />
        <meta th:content="${_csrf.token}" name="csrf-token" />
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Profiler - Add question</title>
        <!--<link rel="stylesheet" th:href="@{/css/styles.css}"/>-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            <header th:replace="fragments/header :: header">
                <p>header with links etc</p>
            </header>
            <nav>

            </nav>

            <div class="col-md-6">
                <h2>Add a question here: </h2>

                <b>
                    <input type="text" id="question" size="42" placeholder="What do you want to ask?" />
                </b>    
                <section id="answers">

                </section>

                <input type="button" value="Add answer" onclick="addAnswer();" />
                <input type="button" value="Send" onclick="sendQuestion();" />

                <!--<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>-->
                <script th:src="@{/javascript/question.js}"></script>
            </div>
        </div>
    </body>
</html>
