<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <meta charset="UTF-8"/>
        <title>Profiler</title>
        <!--<link rel="stylesheet" th:href="@{/css/styles.css}"/>-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>

    <body>
        <div class="container">
            <header th:replace="fragments/header :: header">
                <p>header with links etc</p>
            </header>
            <nav>

            </nav>
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center">You have profiled picture already</h1>           
                </div>
            </div>

            <div class="row">
                <div class="col-md-4" th:if="${ownans}">
                    <h2>Your Answers</h2>
                    <ul class="list-group">
                        <li class="list-group-item" th:each="question, i : ${questions}">
                            <span th:id="${question.id}" th:text="${question.content}">Question</span>
                            <p>Your answer: <span th:text="${ownans[i.index].answerText}"> Answer</span></p>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <img class="img-responsive" th:src="@{/images/{id}/content(id=${profilePic})}"/>
                </div>
                <div class="col-md-4" th:unless="${options==null}">
                    <h2>Most popular answers</h2>
                    <ul class="list-group">
                        <li class="list-group-item" th:each="question, i : ${questions}">
                            <span th:id="${question.id}" th:text="${question.content}">Question</span>
                            <p><span th:text="${rates[i.index]}"></span>% said: 
                                <span th:text="${options[i.index].answerText}"> Answer</span></p>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4" th:if="${options==null}">
                    <h2>This profile doesn't have reviews yet.</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        <ul class="pagination pagination-lg">
                            <li><a th:if="${previous!=null}" th:href="@{/profiles/{id} (id=${previous})}" class="label label-info" role="button">PREVIOUS</a></li>
                            <li><a th:if="${next!=null}" th:href="@{/profiles/{id} (id=${next})}" class="label label-info" role="button">NEXT</a></li>
                            <li><a th:if="${random!=null}" th:href="@{/profiles/{id} (id=${random})}" class="label label-warning" role="button">RANDOM</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </body>
</html>
