<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <meta charset="UTF-8"/>
        <title>Profiler sign-up</title>
        <!--<link rel="stylesheet" th:href="@{/css/styles.css}"/>-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            <div sec:authorize="isAuthenticated()">
                <header th:replace="fragments/header :: header">
                    <p>header with links etc</p>
                </header>
            </div>
            <nav>

            </nav>
            <div class="col-md-6">
                <h2>Create an account to start profiling!</h2>
                <p>All fields are mandatory.</p>

                <form action="#" th:action="@{/signup}" th:object="${account}" method="POST">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input type="text" th:field="*{name}" class="form-control" placeholder="Name" />
                        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger">Virheviesti</span>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                        <input type="text" th:field="*{email}" class="form-control" placeholder="name@example.com" />
                        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger">Virheviesti</span>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input type="text" th:field="*{username}" class="form-control" placeholder="Username" />
                        <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="text-danger">Virheviesti</span>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input type="password" th:field="*{password}" class="form-control" placeholder="Password" />
                        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger">Virheviesti</span>
                    </div>
                    <input type="submit" class="btn btn-primary" value="Sign up" />
                </form>
            </div>
        </div>
    </body>
</html>