<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <meta charset="UTF-8"/>
        <title>Profiler userpage</title>
        <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    </head>

    <body>
        <h1>Hello <span sec:authentication="name"></span></h1>
        <div>
            <p th:text="'You have reviewed ' + ${answerNum} + ' profiles'">
                You have reviewed x profiles
            </p>
            <p th:text="'Your current profiler rating is: ' + ${score} + '%'">
                Your current profiler rating is: x%
            </p>
        </div>
        <div>
            Your profiles:
            <ul th:each="profile : ${profiles}">
                <li>
                    <a th:href="@{/profiles/{id} (id=${profile.id})}" 
                       th:text="'profile ' + ${profile.id} + ' (' + ${#dates.format(profile.creationTime,'yyyy-MM-dd')} + ')'">profile
                    </a>
                </li>
            </ul>
            <a href="/createprofile">Create a new profile</a>
        </div>
        <div>
            Profiles you have reviewed:
            <ul th:each="profile : ${answered}">
                <li>
                    <a th:href="@{/profiles/{id} (id=${profile.id})}" 
                       th:text="'profile ' + ${profile.id}">profile
                    </a>
                </li>
            </ul>
        </div>

    </body>
</html>
