<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <meta charset="UTF-8"/>
        <title>Profiler</title>
        <!--<link rel="stylesheet" th:href="@{/css/styles.css}"/>-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div>
            <header th:replace="fragments/header :: header">
                <p>header with links etc</p>
            </header>
            <nav>

            </nav>
            <div class="col-md-6">
                <h1>Profile for user <span th:text="${account.username}"> Username </span> with authorities
                    <span th:text="${account.authorities}">Authorities</span> </h1>
                <h2>Profiles For this user</h2>
                <ul th:each="profile : ${profiles}">
                    <li>
                        <a th:href="@{/profiles/{id} (id=${profile.id})}">
                            <img th:src="@{/images/{id}/content(id=${profile.thumbnailId})}"/>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </body>
</html>